%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.

{deps, [
        {ets_lru, ".*",
         {git, "https://github.com/cloudant/ets_lru.git", "master"}},

        {parse_trans, ".*",
         {git, "https://github.com/uwiger/parse_trans.git", "master"}}
]}.
